In [4]:
data <- read.csv('adult.data.csv')

In [3]:
head(data)

  age workclass        fnlwgt education education.num marital.status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital.gain capital.loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours.per.week native.country salary
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

## 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [32]:
table(data$sex)

Female   Male
 10771  21790

## 2. Каков средний возраст (признак age) женщин?

In [33]:
mean(data[data['sex'] == 'Female', 'age'])

[1] 36.85823

## 3. Какова доля граждан Германии (признак native-country)?

In [44]:
prop.table(table(data$native.country))['Germany']

    Germany
0.004207487

## 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [46]:
mean(data[data['salary'] == '>50K', 'age']); sd(data[data['salary'] == '>50K', 'age'])

[1] 44.24984

[1] 10.51903

In [47]:
mean(data[data['salary'] == '<=50K', 'age']); sd(data[data['salary'] == '<=50K', 'age'])

[1] 36.78374

[1] 14.02009

## 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [48]:
table(data$salary, data$education)

        10th 11th 12th 1st-4th 5th-6th 7th-8th  9th Assoc-acdm Assoc-voc
  <=50K  871 1115  400     162     317     606  487        802      1021
  >50K    62   60   33       6      16      40   27        265       361

        Bachelors Doctorate HS-grad Masters Preschool Prof-school Some-college
  <=50K      3134       107    8826     764        51         153         5904
  >50K       2221       306    1675     959         0         423         1387

#### Нет, не правда! Из сводной таблицы видно, что высшее образование роли не играет.

## 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [77]:
data %>% group_by(race, sex) %>% select(age) %>% summarise_all(funs(max))

Adding missing grouping variables: `race`, `sex`

   race               sex    age
1  Amer-Indian-Eskimo Female 80
2  Amer-Indian-Eskimo Male   82
3  Asian-Pac-Islander Female 75
4  Asian-Pac-Islander Male   90
5  Black              Female 90
6  Black              Male   90
7  Other              Female 74
8  Other              Male   77
9  White              Female 90
10 White              Male   90

#### Его возраст - 82 года

## 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

## 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [54]:
max(data$hours.per.week)

[1] 99

#### Максимальное число часов - 99

In [57]:
table(data$hours.per.week)['99']

99
85

In [5]:
 prop.table(table(data$hours.per.week == 99, data$salary))

               <=50K         >50K
  FALSE 0.7573477473 0.2400417678
  TRUE  0.0018426952 0.0007677897

## 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [81]:
data %>% group_by(native.country, salary) %>% select(hours.per.week) %>% summarise_all(funs(mean))

Adding missing grouping variables: `native.country`, `salary`

   native.country             salary hours.per.week
1  ?                          <=50K  40.16476
2  ?                          >50K   45.54795
3  Cambodia                   <=50K  41.41667
4  Cambodia                   >50K   40.00000
5  Canada                     <=50K  37.91463
6  Canada                     >50K   45.64103
7  China                      <=50K  37.38182
8  China                      >50K   38.90000
9  Columbia                   <=50K  38.68421
10 Columbia                   >50K   50.00000
11 Cuba                       <=50K  37.98571
12 Cuba                       >50K   42.44000
13 Dominican-Republic         <=50K  42.33824
14 Dominican-Republic         >50K   47.00000
15 Ecuador                    <=50K  38.04167
16 Ecuador                    >50K   48.75000
17 El-Salvador                <=50K  36.03093
18 El-Salvador                >50K   45.00000
19 England                    <=50K  40.48333
20 England                    >50K   44.53333
21 France                     <=50K  41.05882
22 France                     >50K   50.75000
23 Germany                    <=50K  39.13978
24 Germany                    >50K   44.97727
25 Greece                     <=50K  41.80952
26 Greece                     >50K   50.62500
27 Guatemala                  <=50K  39.36066
28 Guatemala                  >50K   36.66667
29 Haiti                      <=50K  36.32500
30 Haiti                      >50K   42.75000
⋮  ⋮                          ⋮      ⋮
53 Mexico                     >50K   46.57576
54 Nicaragua                  <=50K  36.09375
55 Nicaragua                  >50K   37.50000
56 Outlying-US(Guam-USVI-etc) <=50K  41.85714
57 Peru                       <=50K  35.06897
58 Peru                       >50K   40.00000
59 Philippines                <=50K  38.06569
60 Philippines                >50K   43.03279
61 Poland                     <=50K  38.16667
62 Poland                     >50K   39.00000
63 Portugal                   <=50K  41.93939
64 Portugal                   >50K   41.50000
65 Puerto-Rico                <=50K  38.47059
66 Puerto-Rico                >50K   39.41667
67 Scotland                   <=50K  39.44444
68 Scotland                   >50K   46.66667
69 South                      <=50K  40.15625
70 South                      >50K   51.43750
71 Taiwan                     <=50K  33.77419
72 Taiwan                     >50K   46.80000
73 Thailand                   <=50K  42.86667
74 Thailand                   >50K   58.33333
75 Trinadad&Tobago            <=50K  37.05882
76 Trinadad&Tobago            >50K   40.00000
77 United-States              <=50K  38.79913
78 United-States              >50K   45.50537
79 Vietnam                    <=50K  37.19355
80 Vietnam                    >50K   39.20000
81 Yugoslavia                 <=50K  41.60000
82 Yugoslavia                 >50K   49.50000